@tailwind base;
@tailwind components;
@tailwind utilities;

*,html,body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-gradient{
    background: rgb(177,42,220);
    background: linear-gradient(45deg, rgba(177,42,220,1) 0%, rgba(177,42,220,1) 27%, rgba(0,197,255,1) 100%);
}

.text-gradient {
    display: inline-block;
    color: rgb(0, 0, 0);
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.text-gradient:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(177,42,220,1) 0%, rgba(177,42,220,1) 27%, rgba(0,197,255,1) 100%);
    mix-blend-mode: screen;  /* atento a esta linea */
    position: absolute;
    top: 0;
    left: 0;
}

.text-primary{
    color:rgba(0,197,255,1)
}

.link-menu{
    position:relative;
    cursor: pointer;
    padding: 15px 0;
}

.link-menu::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: white;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
    border-radius: 8px;
}

.link-menu:hover::after{
    transform: scaleY(1);
}